.features-title {
  margin-bottom: 60px;
  &.hidden {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 1s;
  }

  &.show {
    opacity: 1;
    transform: translateX(0);
  }
}

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;

  @include tablet {
    flex-wrap: nowrap;
  }
}

.features-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 30px;

  &.hidden {
    opacity: 0;
    transform: translateY(60px);
  }
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
  transition: all 800ms 800ms;

  @include tablet {
    display: flex;

    &.hidden {
      transform: translateX(-60px) scale(0.9);
    }
    &.show {
      transform: translateX(0) scale(1);
    }

    &:nth-child(1) {
      transition-delay: 800ms;
    }
    &:nth-child(2) {
      transition-delay: 1000ms;
    }
  }

  &:nth-child(1) {
    .feature-text {
      max-width: 279px;
    }
  }

  &:nth-child(2) {
    .feature-text {
      max-width: 420px;
    }
  }
}

.feature-number {
  font-size: 150px;
  color: var(--grey-6);
  font-family: 'SF Pro Display';

  font-style: normal;
  font-weight: 900;
  line-height: normal;
  @include desktop {
    font-size: 200px;
  }
  min-width: 96px;
}

.feature-text {
  color: var(--grey-1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163.636%;
  @include desktop {
    font-size: 22px;
  }
}
