.header {
  padding: 10px 0;

  @include tablet {
    padding: 29px 0;
  }

  &.hidden {
    opacity: 0;
    transition: all 1s;
  }

  &.show {
    opacity: 1;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
  }
}

.header-logo {
  width: 70px;
  height: 44px;
}

.menu-open-button {
  position: absolute;
  top: 0;
  right: 15px;

  width: 40px;
  height: 40px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    transition: color var(--main-transition-effect);
  }

  &:hover,
  &:focus {
    color: var(--grey-4);
  }

  @include tablet {
    display: none;
  }
}

.header-nav {
  display: none;
  @include tablet {
    display: block;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;

  @include desktop {
    gap: 60px;
  }
}

.header-nav-link {
  position: relative;
  text-transform: uppercase;

  &:hover::before,
  &:hover::after,
  &.current::before,
  &.current::after {
    width: 100%;
  }

  &::before,
  &::after {
    content: '';
    background: var(--grey-1);
    display: block;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }

  &::before {
    position: absolute;
    top: -1px;
    left: 0;
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
