.projects {
  .container {
    width: 1200px;
  }
}

.projects-title {
  margin-bottom: 30px;
  &.hidden {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 1s;
  }

  &.show {
    opacity: 1;
    transform: translateX(0);
  }
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    gap: 15px;
    margin-bottom: 15px;
  }
}

.projects-item {
  position: relative;
  width: 100%;
  &:hover {
    .shadow-wrap {
      opacity: 1;
    }
  }

  &.hidden {
    opacity: 0;
    transform: translateY(60px);
    transition-delay: 800ms;
    transition: opacity 800ms, transform 800ms;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  @include tablet {
    width: inherit;
    height: 158px;

    &:nth-child(1) {
      width: calc(50% - 7.5px);
      transition-delay: 0ms;
    }
    &:nth-child(2) {
      width: calc(50% - 7.5px);
      transition-delay: 200ms;
    }

    &:nth-child(3) {
      flex: 1 0 calc(25% - 10px);
      transition-delay: 400ms;
    }

    &:nth-child(4) {
      flex: 1 0 calc(42.5% - 10px);
      transition-delay: 600ms;
    }

    &:nth-child(5) {
      width: calc(32.5% - 10px);
      transition-delay: 800ms;
    }
  }

  @include desktop {
    height: 255px;

    &:nth-child(1),
    &:nth-child(2) {
      width: calc(50% - 15px);
    }

    &:nth-child(3) {
      flex: 1 0 calc(25% - 20px);
    }

    &:nth-child(4) {
      flex: 1 0 calc(42.5% - 20px);
    }

    &:nth-child(5) {
      width: calc(32.5% - 20px);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.shadow-wrap {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 15px;

  background-color: #333333ce;
  opacity: 0;
  transition: opacity var(--main-transition-effect);
}

.shadow-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: min-content;
  height: 100%;
}

.project-item-title {
  margin-bottom: 14px;

  color: var(--white);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  text-transform: uppercase;
  pointer-events: none;
  @include desktop {
    font-size: 64px;
  }
}

.project-item-link {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 12px;

  width: 134px;

  color: var(--white);
  font-family: 'Gothic A1', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    &::after {
      right: -12px;
    }
  }

  &::after {
    position: relative;
    right: 0;

    display: block;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow-right-light.svg');
    background-position: center;
    background-repeat: no-repeat;

    transition: all var(--main-transition-effect);
  }
}

.projects-button {
  margin-left: auto;

  &.hidden {
    opacity: 0;
    transition: all 1s;
    transition-delay: 400ms;
  }

  &.show {
    opacity: 1;
  }
}
