:root {
    --grey-1: #333333;
    --grey-4: #BDBDBD;
    --grey-5: #E0E0E0;
    --grey-6: #F2F2F2;
    --grey-7: #F9F9F9;
    --1: #FBFBFB;
    --white: #FFFFFF;
    --black: #000000;

    --bg-image-color: #c4c4c4;

    --white-text-hover: #bdbdbdc7;
    --grey-hover: #333333dd;

    --main-transition-effect: 250ms linear;
}